<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chapter.android.aweme.ss.com.homework">

    <application
        android:name=".Exercises1.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Exercises1.Exercises1" />
        <activity android:name=".Exercises3.Exercises3" />
        <activity android:name=".Exercises2.Exercises2" />
        <activity android:name=".Exercises3.ChatRoom" />
        <!--<activity android:name=".tips.SessionActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>-->
        <!--<activity android:name=".tips.ChatRoomActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>-->
    </application>
</manifest>