bin
gen
*.iml
.settings
local.properties
release.properties
release
.DS_Store
*Thumbs.db
*.jar.properties
build/
.gradle/
.idea/
.navigation/
*.pyc
*.hprof
captures/
*.swp
lint-report.xml
.project
translate/hypstar
translate/export
translate/temp.zip
/config/
lint.xml
infer-out/
ajcore.*.txt
*.hprof
/translate/
.vscode/
